{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <header class="content-text">
        <h1>Welcome to the <strong>Flask Blog</strong></h1>
        <p>Flask Blog is a platform for sharing ideas, insights, and experiences. Whether you're a seasoned writer or just starting out, our platform provides you with the tools you need to create and share engaging content with the world.</p>
        <p><em>Need an account? </em><a href="{{ url_for('user.register') }}">Register!</a></p>
        <p><em>Existing user? </em><a href="{{ url_for('user.login') }}">Login!</a></p>
    </header>
    <figure class="content-image">
        <img src="{{ url_for('static', filename='img/flask.png') }}" alt="Flask Logo">
    </figure>
</div>
{% endblock %}
